body{
  background-color: yellow;
  font-family: cursive;
}

input{
  border-radius: 15px;
  background-color: beige;
}

#bienvenida{
  background-color: aquamarine;
  border-radius: 20px;
  color: white;
}

#MiTotal{
  background-color: blueviolet;
  border-radius: 20px;
  color: white;
}

button{
  background-color: blue;
  color: white;
  border-radius: 20px;
  font-family: cursive;
  font-size: 20px;
}
